<link rel="stylesheet" href="/static/styles/file.css">

<div class="movie" >
        <h2 style="margin-top: -10px;"><u>Recommendations:</u></h2>
        <p>Showing results for: {{ search_name }}</p>
        <table class="movie_table" align="center" >
            <tr>
                <th>Movie Title</th>
            </tr>
            <tbody class="table_body">
                <tr>
                    <td>{{ movie_names[0] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[1] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[2] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[3] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[4] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[5] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[6] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[7] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[8] }}</td>
                </tr>
                
            </tbody>
        </table>
        <br>
          </div>